Source: mate-menu
Section: x11
Priority: optional
Maintainer: Martin Wimpress <code@ubuntu-mate.org>
Uploaders: Mike Gabriel <sunweaver@debian.org>,
Build-Depends: debhelper (>= 9),
               python,
               python-setuptools,
               python-distutils-extra,
Standards-Version: 3.9.6
X-Python-Version: >= 2.6
Homepage: http://bitbucket.com/flexiondotorg/mate-menu/
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-mate/mate-menu.git;a=summary
Vcs-Git: git://anonscm.debian.org/pkg-mate/mate-menu.git

Package: mate-menu
Architecture: all
Depends: ${python:Depends},
         ${misc:Depends},
         gir1.2-mate-panel,
         gir1.2-gtk-2.0,
         gvfs-bin,
         libmatedesktop,
         libmatepanelapplet,
         mate-menus,
         mozo,
         python (>= 2.4),
         python (<< 3),
         python-configobj,
         python-glade2,
         python-gtk2,
         python-mate-menu,
         python-xdg,
         python-xlib,
         xdg-utils
Replaces: matemenu
Suggests:
 software-center, synaptic
Description: Advanced MATE menu
 An advanced menu for MATE. Supports filtering, favorites, 
 easy-uninstallation, autosession, and many other features.
 .
 This menu originated in the Linux Mint distribution and has
 been ported to other distros that ship the MATE Desktop
 Environment.