Source: mate-menu
Section: admin
Priority: optional
Maintainer: Martin Wimpress <code@ubuntu-mate.org>
Build-Depends: debhelper (>= 9), python
Standards-Version: 3.9.6

Package: mate-menu
Architecture: all
Depends: ${python:Depends},
         ${misc:Depends},
         gir1.2-mate-panel,
         gir1.2-gtk-2.0,
         gvfs-bin,
         libmatedesktop,
         libmatepanelapplet,
         mate-menus,
         mozo,
         python (>= 2.4),
         python (<< 3),
         python-configobj,
         python-glade2,
         python-gtk2,
         python-mate-menu,
         python-xdg,
         python-xlib,
         xdg-utils
Replaces: matemenu
Suggests:
 software-center, synaptic
Description: Advanced MATE menu
 An advanced menu for MATE. Supports filtering, favorites, 
 easy-uninstallation, autosession, and many other features.
